
 body {
  height: 100vh;
  margin: 0;
  background-color: rgba(211, 228, 248, 0.916);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-principal {
  width: 100%;
  background-color: #303078; 
  padding: 70px 0px;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 20px 20px;
}

.titulo-principal {

  margin: 0;
  align-items: center;
  color: white;
  font-size: 70px;
  letter-spacing: 20px;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.logo-titulo {

  display:flex;
  align-items: flex-end;
  gap: 6px;
  margin-left: 20px;
  width: 100px;
  height: 40px;
  
}


.barra {
  background-color: white;
  width: 25px;
  border-radius: 2px;
   animation: flotar 1.8s ease-in-out infinite;
  
}

.barra1 {
  height: 40px;
   animation-delay: 0s;
}

.barra2 {
  height: 50px;
   animation-delay: 0,2s
}

.barra3 {
  height: 60px;
   animation-delay: 0.4s
}



.contenedores-medios {
  display: flex;
  font-size: 18px;
  flex-direction: column; 
  gap: 100px;              
  margin: 60px auto;      
  width: 60%;
  max-width: 1000px;
  align-items: center;
}


.contenedor-info {
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1000px;
  text-align: center;
}

.contenedor-info h2 {
  margin-top: 0;
  color: #26264e;
}

.contenedor-info p {
  color: #333;
  font-family:Verdana, Geneva, Tahoma, sans-serif

}





#mi-boton {
  background-color: darkseagreen;
  width: 100px;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.bloque-final {
  background-color: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 80%;
  max-width: 700px;
  text-align: center;
  margin-top: auto; 
  margin-bottom: 40px;
}

@keyframes flotar {
  0% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
  100% { transform: translateY(0); }